form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
}

div {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 10px;
  font-size: 1em;
}

button {
  padding: 10px;
  font-size: 1em;
  margin-right: 10px;
  cursor: pointer;
}

button[type="button"] {
  background-color: #4285F4;
  color: white;
  border: none;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
}
